*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.grid{
    display: flex;
    width: 30vw;
    height: 30vw;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: grey;
    padding: 5px;
    border-radius: 10px;

}
.inner-box{
    width : 20%;
    height: 20%;
    margin: auto 7.5px;
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .grid{
        width: 70vw;
        height: 70vw;

    }
    .inner-box{
        margin: auto 4px;
    }
    
}